@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&family=Playfair+Display:ital@0;1&display=swap');

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
    /* 不累加邊框(border)與內距(padding) */
}

body {
    /* 先設定英文在設定中文，中文還需要多中文字體的英文 */
    font-family: "Noto Sans TC", "黑體-繁", Verdana, Geneva, "Heiti TC", "微軟正黑體", "Microsoft JhengHei", Tahoma, sans-serif;
}

img {
    display: block;
    width  : 100%;
}

/* ------ 檔頭區 ------ */
header .logo {
    position: absolute;
    top     : 25px;
    z-index : 999;
}

/* 手機 */
@media (max-width: 767px) {
    header .logo {
        width: 23%;
        left : 26px;
    }
}

/* 平板 */
@media (min-width: 768px) {
    header .logo {
        width: 18%;
        left : 35px;
    }
}

/* 桌機 */
@media (min-width: 992px) {
    header .logo {
        width: 9%;
        left : 45px;
    }
}

.upleft {
    position        : fixed;
    font-size       : 1.1rem;
    font-weight     : 200;
    margin-left     : 40px;
    top             : 50%;
    letter-spacing  : 3px;
    color           : gray;
    writing-mode    : vertical-lr;
    text-orientation: upright;
    z-index         : 9;
    mix-blend-mode  : screen;
}

.upleft span {
    display   : block;
    width     : 1px;
    height    : 170px;
    background: rgb(150, 150, 150);
    position  : absolute;
    margin-top: 105%;
    left      : 12px;
}

/* ------ Menu套件 ------ */

/* header .menu {
    position: absolute;
    width   : 1.8%;
    top     : 33px;
    right   : 50px;
    z-index : 999;
} */

.background .trigger {
    width     : 28px;
    height    : 28px;
    position  : absolute;
    top       : 33px;
    right     : 50px;
    bottom    : auto;
    z-index   : 999;
    cursor    : pointer;
    transition: top 0.1s ease-in-out;
}

.background .trigger span {
    display   : block;
    width     : 100%;
    height    : 4px;
    background: rgb(0, 0, 0);
    margin    : 0 0 5px 0;
    transition: all 0.2s ease-in-out;
    position  : absolute;
}

.background .trigger span:first-child {
    top : 0;
    left: 0;
}

.background .trigger span:nth-child(2) {
    top : 10px;
    left: 0;
}

.background .trigger span:last-child {
    top : 20px;
    left: 0;
}

.background .trigger.on {
    top: 40px;
}

.background .trigger.on span:first-child {
    transform: rotate(45deg);
}

.background .trigger.on span:nth-child(2) {
    transform: rotate(-45deg);
    top      : 0;
}

.background .trigger.on span:last-child {
    transform: rotate(45deg);
    top      : 0;
}

.menu {
    background: rgba(0, 0, 0, 0.85);
    height    : 100%;
    position  : fixed;
    top       : 0;
    right     : 0;
    bottom    : 0;
    left      : 0;
    display   : none;
    z-index   : 9;
}

.menu ul {
    list-style-type: none;
    padding        : 0;
    left           : 0;
    width          : 250px;
    text-align     : center;
    position       : absolute;
    top            : 50%;
    right          : auto;
    bottom         : auto;
    left           : 50%;
    transform      : translate3d(-50%, -50%, 0);
}

.menu ul a {
    font-family    : "Verdana", sans-serif;
    color          : white;
    font-size      : 24px;
    padding        : 10px 0;
    letter-spacing : 3px;
    line-height    : 80px;
    text-decoration: none;
}


/* ------ main區 ------ */
main .banner {
    position   : relative;
    align-items: center;
}

/* 手機 */
@media (max-width: 767px) {
    .background .trigger {
        width : 20px;
        height: 20px;
        right : 40px;
    }

    .menu ul a {
        font-size  : 16px;
        line-height: 60px;
    }

    main .banner {
        width      : 100%;
        height     : 50vh;
        margin-top : 20%;
        margin-left: -30px;
    }
}

/* 平板 */
@media (min-width: 768px) {
    main .banner {
        width      : 100%;
        height     : 50vh;
        margin-top : 8%;
        margin-left: -50px;
    }
}

/* 桌機 */
@media (min-width: 992px) {
    main .banner {
        width      : 81%;
        height     : 100vh;
        margin-top : 20px;
        margin-left: 95px;
    }
}

div div {
    display : inline-block;
    position: absolute;
    z-index : 8;
}

.link a {
    font-size      : 1rem;
    letter-spacing : 2px;
    color          : rgb(150, 150, 150);
    text-decoration: none;
}

.linkabout {
    top : 37%;
    left: 53%;
}

.spanone {
    display   : block;
    width     : 1px;
    height    : 125px;
    background: rgb(150, 150, 150);
    position  : absolute;
    left      : 30px;
    margin-top: 10%;
}

.linkprocess {
    top : 25%;
    left: 63%;
}

.spantwo {
    display   : block;
    width     : 1px;
    height    : 190px;
    background: rgb(150, 150, 150);
    position  : absolute;
    left      : 41px;
    margin-top: 10%;
}

.linkworks {
    top : 30%;
    left: 81%;
}

.spanthree {
    display   : block;
    width     : 1px;
    height    : 140px;
    background: rgb(150, 150, 150);
    position  : absolute;
    left      : 30px;
    margin-top: 10%;
}

/* ------ 共用主要內容區 ------ */
section {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    height        : 80vh;
    margin-bottom : 100px;
}

/* ------ Service區 ------ */
.service {
    width : 100%;
    height: 110vh;
}

.service h1 {
    position      : relative;
    font-family   : Verdana;
    font-size     : 2.3rem;
    font-weight   : 500;
    letter-spacing: 5px;
    margin-bottom : 100px;
}

.service div {
    width   : 100%;
    height  : 80%;
    overflow: hidden;
}

.service div img {
    width          : 100%;
    height         : 100%;
    object-fit     : cover;
    object-position: center center;
}

.service h2 {
    position      : absolute;
    font-size     : 1.5rem;
    letter-spacing: 3px;
    font-weight   : 400;
    color         : #ffffff;
    opacity       : 0.8;
}

.service p {
    position      : absolute;
    letter-spacing: 3px;
    font-weight   : 300;
    color         : #ffffff;
    opacity       : 0.8;
}

.service a {
    display         : block;
    position        : absolute;
    width           : 80px;
    height          : 80px;
    border-radius   : 50%;
    background-color: rgb(255, 235, 0);
    color           : rgb(0, 0, 0);
    margin          : auto;
    text-align      : center;
    line-height     : 5rem;
    text-decoration : none;
    top             : 162%;
}

/* 手機 */
@media (max-width: 767px) {
    section{
        height        : 110vh;
    }
    .service h1 {
        font-size     : 1.3rem;
        letter-spacing: 1.5px;
        margin-top    : -30px;
        margin-bottom : 80px;
    }

    .service h2 {
        font-size     : 1.1rem;
        letter-spacing: 1.5px;
        top           : 100%;
    }

    .service p {
        font-size     : 0.8rem;
        letter-spacing: 1.5px;
        line-height   : 30px;
        top           : 104%;
        width         : 300px;
        margin        : auto;
    }

    .service a {
        font-size  : 0.8rem;
        width      : 70px;
        height     : 70px;
        line-height: 4rem;
        top        : 116%;
    }
}

/* 平板 */
@media (min-width: 768px) {
    .service h2 {
        top: 110%;
    }

    .service p {
        top: 114%;
    }

    .service a {
        top: 118%;
    }
}

/* 桌機 */
@media (min-width: 992px) {
    .service h2 {
        top: 150%;
    }

    .service p {
        top: 156%;
    }

    .service a {
        top: 162%;
    }
}


/* ------ Tutorial區 ------ */
.tutorial {
    display    : inline-block;
    margin-left: 40px;
}

figure {
    position     : absolute;
    right        : 12%;
    top          : 222%;
    width        : 30%;
    height       : 75vh;
    overflow     : hidden;
    margin-bottom: 50px;
}

.tutorial figure img {
    width          : 100%;
    height         : 100%;
    object-fit     : cover;
    object-position: center center;
}

.tutorial h2 {
    display       : block;
    letter-spacing: 3px;
    font-size     : 1.5rem;
    text-align    : right;
    margin-bottom : 20px;
    font-weight   : 500;
}

.tutorial p {
    display       : block;
    letter-spacing: 3px;
    line-height   : 30px;
    color         : rgb(145, 145, 145);
    margin-bottom : 20px;
    font-weight   : 400;
}

.tutorial ul {
    margin     : 50px;
    margin-left: 110px;
    border-top : dashed 1px gray;
    padding    : 30px;
}

.tutorial a {
    color         : rgb(88, 88, 88);
    letter-spacing: 3px;
    line-height   : 70px;
    font-weight   : 400;
}

/* 手機 */
@media (max-width: 767px) {
    .bio {
        width      : 300px;
        margin-left: 5px;
    }

    .tutorial {
        margin-bottom: 20px;
    }

    .tutorial h2 {
        margin-top    : -60px;
        font-size     : 1.1rem;
        letter-spacing: 1.5px;
    }

    .tutorial p {
        font-size     : 0.8rem;
        letter-spacing: 1.5px;
    }

    .tutorial ul {
        margin-left: 5px;
    }

    .tutorial a {
        font-size     : 0.8rem;
        letter-spacing: 1.5px;
        line-height   : 50px;
    }
}

/* 平板 */
@media (min-width: 768px) {
    .bio {
        width      : 400px;
        margin-left: 230px;
    }
}

/* 桌機 */
@media (min-width: 992px) {
    .bio {
        width      : 400px;
        margin-left: 300px;
    }

    .tutorial div {
        position: relative;
        top     : 30%;
    }
}


/* ------ Blog區 ------ */
.blog {
    width                : 100%;
    height               : 80vh;
    background-image     : url(images/blog.png);
    background-color     : rgb(238, 238, 238);
    background-size      : 110%;
    background-attachment: fixed;
}

.blog-box {
    width           : 450px;
    height          : 500px;
    position        : absolute;
    right           : 0;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow      : 10px 4px 20px rgb(180, 180, 180);
}

.blog h2 {
    display       : block;
    letter-spacing: 3px;
    font-size     : 1.5rem;
    font-weight   : 500;
    margin-top    : 50px;
    margin-left   : 50px;
}

.blog p {
    display       : block;
    letter-spacing: 3px;
    line-height   : 30px;
    width         : 65%;
    color         : rgb(145, 145, 145);
    margin-top    : 30px;
    margin-left   : 50px;
    font-weight   : 400;
}

.blog a {
    display         : block;
    width           : 200px;
    height          : 40px;
    border-radius   : 20px;
    background-color: rgb(94, 255, 0);
    color           : rgb(0, 0, 0);
    text-align      : center;
    line-height     : 2.3rem;
    text-decoration : none;
    margin-top      : 30px;
    margin-left     : 50px;
}

/* 手機 */
@media (max-width: 767px) {
    .blog {
        margin-top: -360px;
    }

    .blog h2 {
        font-size     : 1.1rem;
        letter-spacing: 1.5px;
    }

    .blog p {
        font-size     : 0.8rem;
        letter-spacing: 1.5px;
    }

    .blog a {
        font-size     : 0.8rem;
        letter-spacing: 1.5px;
    }

    .blog-box {
        width     : 300px;
        height    : 400px;
        right     : 0;
        top       : 260%;
        box-shadow: none
    }
}

/* 平板 */
@media (min-width: 768px) {
    .blog {
        margin-top: -330px;
    }

    .blog-box {
        top: 250%;
    }
}

/* 桌機 */
@media (min-width: 992px) {
    .blog {
        margin-top: 40px;
    }

    .blog-box {
        top: 350%;
    }
}



/* ------ Contact區 ------ */
/* .contact_bio {
    width: 410px;
    left : 300px;
} */

section h1 {
    font-family   : Verdana;
    font-size     : 2.3rem;
    font-weight   : 500;
    letter-spacing: 5px;
    margin-top    : 20px;
    margin-bottom : 100px;
}

.contact_bio h2 {
    font-size     : 1.4rem;
    font-weight   : 500;
    letter-spacing: 3px;
}

.contact_bio h3 {
    font-family   : Verdana;
    font-size     : 1rem;
    font-weight   : 400;
    letter-spacing: 1px;
    margin-top    : -20px;
}

.contact_bio p {
    font-size     : 0.9rem;
    letter-spacing: 2px;
    line-height   : 35px;
    font-weight   : 400;
    color         : rgb(145, 145, 145);
}

#contact_form {
    display              : flex;
    flex-direction       : column;
    /*     width         : 180%; */
    color                : rgb(145, 145, 145);
    line-height          : 15px;
    font-family          : Verdana;
}

#contact_form input,
#message {
    border       : 1px solid rgb(197, 197, 197);
    padding      : 5px;
    margin-top   : 5px;
    margin-bottom: 20px;
}

/* ------ Contact button hover區 ------ */
button {
    margin           : 0 auto;
    text-decoration  : none;
    border-radius    : 50px;
    display          : flex;
    justify-content  : center;
    align-items      : center;
    cursor           : pointer;
    /* 游標變手 */
    /* text-transform: uppercase; 強制大小寫 */
    height           : 40px;
    width            : 150px;
    background-color : #ffffff;
    border           : 1px solid rgb(179, 179, 179);
}

button span {
    color         : #505050;
    font-size     : 12px;
    font-weight   : 500;
    letter-spacing: 0.7px;
}

button:hover {
    animation: rotate 0.7s ease-in-out both;
}

button:hover span {
    animation      : storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}


/* 手機 */
@media (max-width: 767px) {
    .contact_bio {
        left : 50px;
        width: 290px;
    }

    section h1 {
        font-size     : 1.3rem;
        letter-spacing: 1.5px;
        margin-top    : -20px;
    }

    .contact_bio h2 {
        font-size     : 1.1rem;
        letter-spacing: 0.5px;
        margin-top    : -30px;
    }

    .contact_bio h3 {
        font-size     : 0.8rem;
        letter-spacing: 0.5px;
    }

    .contact_bio p {
        font-size     : 0.8rem;
        letter-spacing: 0.5px;
        line-height   : 26px;
    }

    #contact_form {
        font-size  : 0.8rem;
        margin-top : 270px;
        margin-left: -150px;
        width      : 300px;
    }
}

/* 平板 */
@media (min-width: 768px) {
    .contact_bio {
        left : 150px;
        width: 500px;
    }

    #contact_form {
        margin-top : 400px;
        margin-left: -250px;
        width      : 1050%;
    }
}

/* 桌機 */
@media (min-width: 992px) {
    .contact_bio {
        left : 300px;
        width: 410px;
    }

    #contact_form {
        margin-top : 0px;
        margin-left: 0px;
        width      : 200%;
    }
}

/* ------ Go top區 ------ */
#gotop {
    position        : fixed;
    width           : 40px;
    height          : 40px;
    /*     bottom   : 100px; */
    right           : 62px;
    font-size       : 50px;
    cursor          : pointer;
    color           : rgb(170, 170, 170);
    z-index         : 10;
}

#gotop:hover {
    color: gray;
}

/* 手機 */
@media (max-width: 767px) {
    #gotop {
        font-size: 35px;
        right    : 30px;
        bottom   : 45px;
    }
}

/* 平板 */
@media (min-width: 768px) {
    #gotop {
        bottom: 60px;
    }
}

/* 桌機 */
@media (min-width: 992px) {
    #gotop {
        bottom: 100px;
    }
}

/* ------ Footer區 ------ */
footer {
    width                  : 100%;
    height                 : 300px;
    background-color       : rgb(226, 226, 226);
    display                : flex;
    justify-content        : space-between;
    align-items            : center;
        margin-top      : 200px;
}

footer h1 {
    display    : block;
    width      : 45px;
    margin-left: 40px;
    margin-top : 150px;
}

footer h4 {
    font-size     : 0.5rem;
    font-weight   : normal;
    margin-left   : 40px;
    letter-spacing: 3px;
    color         : gray;
}

nav li {
    display: inline-block;
}

nav ul {
    list-style-type: none;
    z-index        : 9999;
    margin-top     : 190px;
    margin-right   : 5px;
}

nav a {
    display        : block;
    width          : 150px;
    height         : 35px;
    line-height    : 35px;
    font-size      : 0.9rem;
    letter-spacing : 3px;
    font-weight    : normal;
    color          : gray;
    text-decoration: none;
    border         : solid 1px transparent;
}

/* 手機 */
@media (max-width: 767px) {
    footer h4 {
        letter-spacing: 1.5px;
    }

    nav ul {
        display: none;
    }
}

/* 平板 */
@media (min-width: 768px) {
    nav ul {
        display: none;
    }
}

/* 桌機 */
@media (min-width: 992px) {
    nav ul {
        display: block;
    }
}




/* ------ 分頁About區 ------ */
.about_h1 {
    font-family   : Verdana;
    font-size     : 2.3rem;
    font-weight   : 500;
    letter-spacing: 5px;
    text-align    : center;
    line-height   : 400px;
}

.about_all {
    width : 100%;
    height: 120vh;
    margin: -50px auto;
}

.about_word p {
    font-size     : 0.9rem;
    letter-spacing: 2px;
    line-height   : 35px;
    font-weight   : 400;
    color         : rgb(145, 145, 145);
}

/* 手機 */
@media (max-width: 767px) {
    .about_h1 {
        font-size     : 1.3rem;
        letter-spacing: 1.5px;
    }

    .about_word {
        animation : none;
        width     : 320px;
        right     : 30px;
        margin-top: -50px;
    }

    .about_word p {
        font-size     : 0.8rem;
        letter-spacing: 1.5px;
    }

    .about_all {
        height: 100vh;
        margin: 0;
    }
}

/* 平板 */
@media (min-width: 768px) {
    .about_bio {
        display    : block;
        width      : 40%;
        margin-left: 350px;
        animation  : about_bio 2s;
    }

    @keyframes about_bio {
        from {
            left   : -400px;
            opacity: 0;
        }

        to {
            left   : 0px;
            opacity: 1;
        }
    }

    .about_word {
        width     : 500px;
        right     : 150px;
        margin-top: 350px;
        animation : about_word 1.8s;
    }

    @keyframes about_word {
        from {
            right  : -500px;
            opacity: 0;
        }

        to {
            right  : 150px;
            opacity: 1;
        }
    }

}

/* 桌機 */
@media (min-width: 992px) {
    .about_bio {
        display    : block;
        width      : 30%;
        margin-left: 250px;
        animation  : about_bio 2s;
    }

    @keyframes about_bio {
        from {
            left   : -300px;
            opacity: 0;
        }

        to {
            left   : 0px;
            opacity: 1;
        }
    }

    .about_word {
        width     : 500px;
        right     : 300px;
        margin-top: 300px;
        animation : about_word 1.8s;
    }

    @keyframes about_word {
        from {
            right  : -500px;
            opacity: 0;
        }

        to {
            right  : 300px;
            opacity: 1;
        }
    }

}




/* ------ 分頁Process區 ------ */
.process_h1 {
    font-family   : Verdana;
    font-size     : 2.3rem;
    font-weight   : 500;
    letter-spacing: 5px;
    text-align    : center;
    line-height   : 400px;
    margin-bottom : -100px;
}

.process_item {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding       : 100px;

}

.process_item img {
    margin-bottom: 5px;
}

.process_item li {
    align-self : flex-start;
    line-height: 30px;
    color      : gray;
}

.process_item h2 {
    margin-bottom: 30px;
}

.process_spanline {
    display   : block;
    width     : 1px;
    height    : 125px;
    background: rgb(160, 160, 160);
    position  : absolute;
    left      : 50%;
    margin-top: -60px;
}

/* 手機 */
@media (max-width: 767px) {
    .process_h1 {
        font-size     : 1.3rem;
        letter-spacing: 1.5px;
    }

    .process_item h2 {
        font-size: 1.1rem;
    }

    .process_item img {
        width        : 50%;
        height       : auto;
        margin-bottom: 5px;
    }

    .process_item li {
        width         : 350px;
        margin-left   : -50px;
        font-size     : 0.8rem;
        letter-spacing: -0.5px;
    }
}

/* 平板 */
@media (min-width: 768px) {
    .process_item img {
        width: 25%;
    }

    .process_item li {
        margin-left: 110px;

    }
}

/* 桌機 */
@media (min-width: 992px) {
    .process_item img {
        width: 8%;
    }

    .process_item li {
        margin-left: 38%;
    }
}





/* ------ 分頁Works區 ------ */
.video-gallery {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-gap             : 15px;
    max-width            : 1100px;
    padding              : 15px;
    margin               : 200px auto 0;
    box-sizing           : border-box;
}

.video-gallery .gallery-item {
    position  : relative;
    width     : 100%;
    height    : 300px;
    background: #000;
    cursor    : pointer;
    overflow  : hidden;
}

.video-gallery .gallery-item img {
    position             : relative;
    display              : block;
    width                : 115%;
    height               : 300px;
    object-fit           : cover;
    opacity              : .5;
    /*transition         : opacity .35s, transform .35s;*/
    transition           : all 350ms ease-in-out;
    transform            : translate3d(-23px, 0, 0);
    /*backface-visibility: hidden;*/
}

.north-cascades-img {
    object-position: 50% 30%;
}

.video-gallery .gallery-item .gallery-item-caption {
    padding       : 32px;
    font-size     : 1em;
    color         : #fff;
    text-transform: uppercase;
}

.video-gallery .gallery-item .gallery-item-caption,
.video-gallery .gallery-item .gallery-item-caption>a {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
}

.video-gallery .gallery-item h3 {
    font-weight: 300;
    letter-spacing: 1px;
    overflow   : hidden;
    padding    : 12px 0;
}

.video-gallery .gallery-item h3,
.video-gallery .gallery-item p {
    position      : relative;
    margin        : 0;
    z-index       : 1;
    pointer-events: none;
}

.video-gallery .gallery-item p {
    letter-spacing: 1px;
    font-size     : 12px;
    padding       : 12px 0;
    opacity       : 0;
    transition    : opacity 0.35s, transform 0.35s;
    transform     : translate3d(10%, 0, 0);
}

.video-gallery .gallery-item:hover img {
    opacity  : 0.3;
    transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item .gallery-item-caption {
    text-align: left;
}

.video-gallery .gallery-item h3::after {
    content   : "";
    position  : absolute;
    bottom    : 0;
    left      : 0;
    width     : 15%;
    height    : 1px;
    background: #fff;
    transition: transform 0.3s;
    transform : translate3d(-100%, 0, 0);
}

.video-gallery .gallery-item:hover h3::after {
    transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item:hover p {
    opacity  : 1;
    transform: translate3d(0, 0, 0);
}

/*
@media screen and (max-width: 784px) {
  .video-gallery {
    width: 100%;
    padding: 15px;    

  }
  .video-gallery .gallery-item {
    width: 95%;
    margin: 0 auto; 
    width: 100%;
  }
}
*/